.hide {
  display: none;
}

.container {
  padding: 0 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 1s linear;
}

.fade-in {
  animation: fade-in 1s linear;
}