@import "../_variables.scss";
@import "_common.scss";
@import "../_mixins.scss";

.header {
  &__background {
    background-image: url("../images/header/header-content-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__navigation-background {
    background-color: #27262A;
  }
  &__navigation {
    @include flexAlign;
    justify-content: space-between;
  }
  &__navigation-logo-text {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__navigation-list-desktopMenu {
    display: none;
  }
  &__navigation-list-desktopMenu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__navigation-list-button {
    margin: 34px 0 32px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    line-height: 15px;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 11px 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__navigation-call-open {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
  }
  &__navigation-call-open--active {
    display: flex;
  }
  &__navigation-call-close {
    display: none;
    height: 22px;
    position: relative;
  }
  &__navigation-call-close--active {
    display: block;
  }
  &__navigation-call-close-item {
    position: absolute;
    right: 5%;
  }
  &__navigation-call-close-item--absolute {
    position: absolute;
    right: 5%;
    transform: rotateY(180deg);
  }
  &__navigation-list-tabletMenu {
    display: none;
  }
  &__navigation-list-tabletMenu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__content {
    @include flexAlign;
    flex-direction: column;
    text-align: center;
  }
  &__content-title {
    font-size: 48px;
    line-height: 48px;
    color: $whiteColor;
    margin: 50px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__content-text {
    font-size: 18px;
    line-height: 24px;
    color: $pinkColor;
    margin-bottom: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__content-text-for {
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    margin-bottom: 416px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  &__content-burgerMenu {
    display: none;
    width: 90%;
    position: absolute;
    flex-direction: column;
    background-color: #333333;
    justify-content: flex-start;
    transition: all 0.3s ease;
  }
  &__content-burgerMenu--active {
    display: flex;
  }
  &__content-burgerMenu-item {
    text-align: left;
    color: $whiteColor;
    font-size: 26px;
    line-height: 26px;
    padding: 29px 0 25px 35px;
    background-color: #333333;
    border-bottom: 1px solid grey;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  &__content-burgerMenu-item:focus {
    color: $pinkColor;
  }
  &__content-burgerMenu-item:focus::before {
    content: "";
    height: 55%;
    width: 8px;
    background-color: #8D81AC;
    position: absolute;
    right: 96%;
    bottom: 20%;
  }
  &__offer {
    position: relative;
  }
  &__offer-button {
    font-size: 18px;
    line-height: 20px;
    color: $whiteColor;
    border-radius: 40px;
    border: none;
    background: $pinkColor;
    padding: 13px 29px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__offer-text {
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    text-align: center;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}

@media (min-width: $tablet) {
  .header {
    &__background {
      background-image: url("../images/header/header-content-background-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__navigation-logo {
      @include flexAlign;
      margin-top: 24px;
    }
    &__navigation-logo-text {
      display: block;
      margin-left: 20px;
      font-size: 24px;
      line-height: 16px;
      color: $pinkColor;
    }
    &__navigation-list-button {
       margin: 24px 0 0;
    }
    &__navigation-call {
       display: none;
    }
    &__navigation-list-tabletMenu {
      display: flex;
      justify-content: space-evenly;
      max-width: 70%;
      margin: 23px auto 0;
    }
    &__navigation-list-tabletMenu-item {
      padding-bottom: 18px;
      color: $pinkColor;
    }
    &__content-title {
      margin-top: 70px;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    &__background {
      background-image: url("../images/header/header-content-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__navigation-background {
      background-color: black;
    }
    &__navigation {
      justify-content: space-around;
    }
    &__navigation-logo:hover .header__navigation-logo-img {
      content: url("../images/header/header-logo-white.svg");
    }
    &__navigation-logo:hover .header__navigation-logo-text {
      color: $whiteColor;
    }
    &__navigation-list {
      display: flex;
    }
    &__navigation-list-desktopMenu {
      @include flexAlign;
      margin: 24px 48px 0 0;
    }
    &__navigation-list-desktopMenu-item {
      font-size: 16px;
      line-height: 17px;
      color: $pinkColor;
      padding: 0 22px;
    }
    &__navigation-list-desktopMenu-item:hover {
      color: $whiteColor;
    }
    &__navigation-list-button:hover {
      background-color: $whiteColor;
      color: $pinkColor;
    }
    &__navigation-list-tabletMenu {
       display: none;
    }
    &__content-title {
      margin-top: 120px;
    }
    &__offer-button:hover {
      background-color: $whiteColor;
      color: $pinkColor;
    }
  }
}