@import "../_variables.scss";
@import "_common.scss";
@import "../_mixins.scss";

.main {
   &__about-background {
      background-image: url("../images/main/about/main-about-background-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
   }
   &__about {
      position: relative;
   }
   &__about-title {
      padding-top: 57px;
      font-size: 36px;
      line-height: 48px;
      color: $whiteColor;
      text-align: center;
      margin-bottom: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
   }
   &__about-posts-item {
      @include flexAlign;
      flex-direction: column;
      margin-top: 45px;
   }
   &__about-posts-item-pictures {
      height: 64px;
      margin-bottom: 30px;
      display: flex;
      align-items: flex-end;
   }
   &__about-posts-item-text {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      color: $whiteColor;
      width: 80%;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
   }
   &__about-text {
      font-size: 14px;
      line-height: 21px;
      color: #A291A5;
      text-align: center;
      width: 80%;
      margin: 37px auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
   }
   &__about-text:after {
      content: "";
      height: 2px;
      background-color: #645766;
      width: 90%;
      margin: 22px 0 0;
   }
}

@media (min-width: $tablet) {
   .main {
      &__about-background {
         background-image: url("../images/main/about/main-about-background-tablet.jpg");
      }
      &__about-title {
         padding-top: 85px;
         width: 90%;
         margin: 0 auto 24px;
      }
      &__about-posts {
         @include flexAlign(flex, flex-start);
         flex-wrap: wrap;
         justify-content: space-between;
      }
      &__about-posts-item {
         max-width: 50%;
         margin-top: 56px;
      }
      &__about-text {
         width: 90%;
         margin-top: 68px;
      }
   }
}

@media (min-width: $desktop) {
   .main {
      &__about-background {
         background-image: url("../images/main/about/main-about-background-desktop.jpg");
      }
      &__about-title {
         padding-top: 108px;
         margin: 0 auto 81px;
      }
      &__about-posts-item {
         max-width: 33%;
         margin: 0 0 116px;
      }
      &__about-text {
         width: 68%;
         margin-top: 0;
      }
   }
}

